.menu-large{
    font-family: 'AvenganceBD';
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px 22px 0px 60px;
    margin-right: 18px;
    margin-bottom: 34px;
    width: fit-content;
}

.menu-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.menu-line{
    border-bottom: 1px solid;
    position: absolute;
    width: 0px;
    top: 118px;
    transition-property: width;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
}

.menu-title{
    font-family: 'AvenganceBD';
    font-size: 65px;
    margin-right: 20px;
}

.menu-link{
    display: inline-block;
    padding: 11px;
    font-size: 25px;
    transition: 400ms ease-in-out all;
}

.menu-link:hover{
    cursor: pointer;
    background: rgba(253, 246, 232, 0.204);
}

.active-list{
    color: rgba(244, 67, 54);
}

.active-myteam{
    color: #798df7;
}

.logout{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    margin-left: 30px;
}

.logout mat-icon{
    font-size: 16px;
    margin-top: 1px;
}

@media screen and (max-width: 785px){
    .menu-large{
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 10px
    }
    .menu-line{
        top: 103px;
    }
    .logout{
        position: absolute;
        right: 0px;
    }
}

@media screen and (max-width: 530px){
    .menu-large{
        margin: 0px;
        padding-left: 0px;
    }
}